<div class="name-routes">
    <table class="mail-table">
        <tr>
            <td>NAME:</td><td>[[NAME]]</td>
        </tr>
        <tr>
            <td>ADDRESS:</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>ROUTES:</td><td>[[ROUTES]]</td>
        </tr>
    </table>
</div>
[[ROUTE-TABLES]]
<table class="overall-carrier-table">
    <tr>
        <td >Route Total</td>
        <td >$[[ROUTES-TOTAL]]</td>
        <td >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td rowspan="2">FINAL PAY</td>
        <td rowspan="2">$[[FINAL-PAY]]</td>
    </tr>
    [[EXTRAWORK-ROWS]] 
</table>