<table class="route-draw-table">
    <thead>
        <tr>
            <th colspan=24>[[ROUTE]]</th>
        </tr>
        [[THEAD-PRODUCT]]
    </thead>
    <tbody>
        [[TBODY-PRODUCT]]
    </tbody>
    <tbody>
        [[TBODY-PRODUCT-TOTAL]]
    </tbody>
    [[ADJUSTMENTS]]
    <tbody>
        <tr class="route-total-row"> 
            <td colspan="3">TOTAL DRAW</td>
            <td colspan="3">$[[TOTAL-DRAW]]</td>
            <td colspan="7">TOTAL OTHER</td>
            <td colspan="3">$[[TOTAL-ADJUSTMENT]]</td>
            <td colspan="5">TOTAL ROUTE</td>
            <td colspan="3">$[[TOTAL-ROUTE]]</td>
        </tr>
    </tbody>
    [[COLLECTIONS]]
</table>