<tr>
    <td>[[PRODUCT]]</td>
    <td>[[0]]</td>
    <td>[[1]]</td>
    <td>[[2]]</td>
    <td>[[3]]</td>
    <td>[[4]]</td>
    <td>[[5]]</td>
    <td>[[6]]</td>
    <td>[[7]]</td>
    <td>[[8]]</td>
    <td>[[9]]</td>
    <td>[[10]]</td>
    <td>[[11]]</td>
    <td>[[12]]</td>
    <td>[[13]]</td>
    <td>[[M-F_TOTAL]]</td>
    <td>[[M-F_RATE]]</td>
    <td>[[M-F_AMOUNT]]</td>
    <td>[[SAT_TOTAL]]</td>
    <td>[[SAT_RATE]]</td>
    <td>[[SAT_AMOUNT]]</td>
    <td>[[SUN_TOTAL]]</td>
    <td>[[SUN_RATE]]</td>
    <td>[[SUN_AMOUNT]]</td>
</tr>